* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overscroll-behavior-y: contain;

    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    touch-action: pan-y pinch-zoom;

    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

section {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input,
select,
button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

button {
    cursor: pointer;
}

button,
.targetButton,
.redButton,
.fieldPlayer {
    touch-action: manipulation;
}
.gameField {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    user-drag: none;
}

.playerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

.playerChoice {
    display: block;
    margin: 6px 0;
}

#gameInfo {
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.gameField {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 1;
    height: auto;
    margin-top: 20px;
    border: 0.4cqw solid #222;
    border-radius: 1cqw;
    background: #fafafa;
    overflow: hidden;
    container-type: size;
}

.fieldPlayer {
    position: absolute;
    font-size: 2cqw;
    padding: 0.8cqw 1.2cqw;
    border: 0.15cqw solid #999;
    border-radius: 0.8cqw;
}

.topLeft { top: 3cqh; left: 2cqw; }
.bottomLeft { bottom: 3cqh; left: 2cqw; }
.bottomRight { bottom: 3cqh; right: 2cqw; }
.topRight { top: 3cqh; right: 2cqw; }

.activePlayer {
    border: 0.45cqw solid #33ff00;
    box-shadow: 0 0 2cqw #33ff00;
    font-size: 2.4cqw;
    font-weight: bold;
    color: #1f7709;
}

.startSelectField .fieldPlayer {
    font-size: 26px;
    padding: 14px 20px;
    cursor: pointer;
}

.startSelectable:hover {
    border: 3px solid #33ff00;
    box-shadow: 0 0 15px #33ff00;
    color: #33ff00;
}

.startSelectField .topLeft {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.startSelectField .bottomLeft {
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, 50%);
}

.startSelectField .bottomRight {
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 50%);
}

.startSelectField .topRight {
    top: 25%;
    right: 25%;
    transform: translate(50%, -50%);
}

.sideTargets {
    position: absolute;
    top: 50%;
    
    display: flex;
    flex-direction: row;
    gap: 0;
    z-index: 4;
}

.leftTargets { left: 8cqw; }
.rightTargets { right: 8cqw; }
.middleTargets {
    left: 50cqw;
    top: 50cqh;
    transform: translate(-50%, -50%);
}

.redTargets {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    z-index: 4;
}

.leftredTargets {
    left: 2cqw;
}

.rightredTargets {
    right: 2cqw;
}

.targetButton {
    background: #f5aa00;
    border: 0 solid #222;
    border-radius: 0;
    font-size: 3cqw;
    font-weight: bold;
    cursor: pointer;
}
.target0 {
    width: 7cqw;
    height: 18cqh;
    transform: translateY(-50%);
}
.target1 {
    width: 15cqw;
    height: 106.67cqh;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 25%,
        67% 12.5%,
        100% 50%,
        67% 87.5%,
        0% 75%
    );
}

.target2 {
    width: 10cqw;
    height: 53.33cqh;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 25%,
        100% 0%,
        100% 100%,
        0% 75%
    );
}

.target3 {
    width: 10cqw;
    height: 26.67cqh;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 50%,
        100% 0%,
        100% 100%,
        0% 50%
    );
}

.rightTargets .target1 {
    clip-path: polygon(
        100% 25%,
        33% 12.5%,
        0% 50%,
        33% 87.5%,
        100% 75%
    );
}

.rightTargets .target2 {
    clip-path: polygon(
        100% 25%,
        0% 0%,
        0% 100%,
        100% 75%
    );
}

.rightTargets .target3 {
    clip-path: polygon(
        100% 50%,
        0% 0%,
        0% 100%,
        100% 50%
    );
}
.redButton {
    width: 5cqw;
    height: 20cqh;
    background: #f52500;
    border: 0px solid #222;
    border-radius: 0px;
    font-size: 1.6cqw;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 0%,
        50% 0%,
        100% 40%,
        100% 60%,
        50% 100%,
        0% 100%
    );
}
.rightredTargets .redButton {
    clip-path: polygon(
        100% 0%,
        50% 0%,
        0% 40%,
        0% 60%,
        50% 100%,
        100% 100%
    );
}

.redButton:active {
    transform: scale(0.96) translateY(-50%);
}
.targetButton:hover {
    filter: brightness(1.15);
}

.redButton:hover {
    filter: brightness(1.55);
}

.targetButton:active{
    transform: translateY(-50%) scale(0.96);
}

#debugConsole {
    margin-top: 10px;
    padding: 10px;

    height: 200px;
    overflow-y: auto;

    background: #111;
    color: #00ff00;

    font-family: monospace;
    font-size: 14px;

    border: 2px solid #444;
    border-radius: 8px;
}
.debugUndone {
    text-decoration: line-through;
    opacity: 0.5;
}