* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overscroll-behavior: none;
    touch-action: manipulation;
}
html,
body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;touch-action: none;
}

body {
    font-family: Times, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
}

section {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input,
select,
button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

button {
    cursor: pointer;
}

button,
.targetButton,
.redButton,
.fieldPlayer,
.gameField {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    user-drag: none;
    touch-action: none;
}

.playerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

.playerChoice {
    display: block;
    margin: 6px 0;
}

#gameInfo {
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.gameField {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 3px solid #222;
    border-radius: 8px;
    background: #fafafa;
}

.fieldPlayer {
    position: absolute;
    font-weight: bold;
    background: white;
    border: 1px solid #999;
    padding: 6px 10px;
    border-radius: 5px;
    z-index: 5;
}

.topLeft {
    top: 10px;
    left: 10px;
}

.bottomLeft {
    bottom: 10px;
    left: 10px;
}

.bottomRight {
    bottom: 10px;
    right: 10px;
}

.topRight {
    top: 10px;
    right: 10px;
}

.activePlayer {
    border: 3px solid #33ff00;
    box-shadow: 0 0 15px #33ff00;
    font-size: 20px;
    font-weight: bold;
    color: #1f7709;
}

.startSelectField .fieldPlayer {
    font-size: 26px;
    padding: 14px 20px;
    cursor: pointer;
}

.startSelectable:hover {
    border: 3px solid #33ff00;
    box-shadow: 0 0 15px #33ff00;
    color: #33ff00;
}

.startSelectField .topLeft {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.startSelectField .bottomLeft {
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, 50%);
}

.startSelectField .bottomRight {
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 50%);
}

.startSelectField .topRight {
    top: 25%;
    right: 25%;
    transform: translate(50%, -50%);
}

.sideTargets {
    position: absolute;
    top: 50%;
    
    display: flex;
    flex-direction: row;
    gap: 0;
    z-index: 4;
}

.leftTargets {
    left: 60px;
}

.middleTargets {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rightTargets {
    right: 40px;
}

.redTargets {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 4;
}

.leftredTargets {
    left: 10px;
    transform: translateY(-50%);
}

.rightredTargets {
    right: 10px;
    transform: translateY(-50%);
}

.targetButton {
    background: #f5aa00;
    border: 0px solid #222;
    border-radius: 0;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.target1 {
    width: 90px;
    height: 320px;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 25%,
        67% 12.5%,
        100% 50%,
        67% 87.5%,
        0% 75%
    );
}

.target2 {
    width: 60px;
    height: 160px;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 25%,
        100% 0%,
        100% 100%,
        0% 75%
    );
}

.target3 {
    width: 60px;
    height: 80px;
    transform: translateY(-50%);
    clip-path: polygon(
        0% 50%,
        100% 0%,
        100% 100%,
        0% 50%
    );
}
.rightTargets {
    right: 120px;
    transform: scaleX(-1);
}
.redButton {
    width: 40px;
    height: 60px;
    background: #f52500;
    border: 0px solid #222;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    clip-path: polygon(
        0% 0%,
        50% 0%,
        100% 40%,
        100% 60%,
        50% 100%,
        0% 100%
    );
}
.rightredTargets .redButton {
    transform: scaleX(-1);
}
.targetButton:hover {
    filter: brightness(1.15);
}

.redButton:hover {
    filter: brightness(1.55);
}

.targetButton:active{
    transform: translateY(-50%) scale(0.96);
}
.redButton:active {
    transform: scale(0.96);
}
#debugConsole {
    margin-top: 10px;
    padding: 10px;

    height: 200px;
    overflow-y: auto;

    background: #111;
    color: #00ff00;

    font-family: monospace;
    font-size: 14px;

    border: 2px solid #444;
    border-radius: 8px;
}